<div class="row center-xs middle-xs full-height">
  <div class="col-xs-12 col-lg-10 mdl-shadow--2dp white circle-border">
    <div class="box">
      <div class="card-floating">
        <i class="material-icons text-left">assignment</i>
      </div>
      <div class="">
        <h2 class="medium-font pacifico-font text-left">Mis Sucursales</h2>
      </div>
      <table class="full-width no-border mdl-data-table mdl-js-data-table top-space">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numerical">Nombre</th>
            <th class="mdl-data-table__cell--non-numerical">Dirección</th>
            <th class="mdl-data-table__cell--non-numerical">Telefono</th>
            <th class="mdl-data-table__cell--non-numerical">Hora de apertura</th>
            <th class="mdl-data-table__cell--non-numerical">Hora de cierre</th>
            <th class="mdl-data-table__cell--non-numerical">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @stores.each do |store| %>
            <tr>
              <td><%=link_to store.name, store, class: 'no-decoration' %></td>
              <td><%= store.address %></td>
              <td><%= store.phone %></td>
              <td><%= store.opening %></td>
              <td><%= store.closing %></td>
              <td>
                
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="btn-floating">
  <%= button_to new_store_path(), method: :get, class:"mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-js-ripple-efect" do %>
    <i class="material-icons">add</i>
  <% end %>
</div>
