<header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">
            <%= link_to 'InventariosCo', root_path, class: 'white-text no-margin no-decoration' %>
        </span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation">
            <% if user_signed_in? %>
              <%= link_to 'Link', root_path, class: 'white-text mdl-navigation__link' %>
              <%= link_to 'Cerrar Sesion', destroy_user_session_path, method: :delete, class: 'white-text mdl-navigation__link' %>
            <% else %>
               <%= link_to 'Iniciar Sesion', new_user_session_path, class: 'mdl-button mdl-js-button mdl-button--raised white-text' %> 
            <% end %>
        </nav>
    </div>
</header>
<div class="mdl-layout__drawer">
    <span class="mdl-layout-title">
        Inventarios Co
    </span>
    <nav class="mdl-navigation">
        <%= link_to 'Inicio', root_path, class: "mdl-navigation__link" %>
        <% if user_signed_in? %>
            <%= link_to 'Mis Productos', products_path, class: "mdl-navigation__link" %>
            <%= link_to 'Sucursales', stores_path, class: "mdl-navigation__link"%>
            <%= link_to 'Inventario', inventories_path, class: "mdl-navigation__link"%>
            <%= link_to 'Mi empresa', current_user.store.company, class: "mdl-navigation__link"%>
        <% else %>

        <% end %>
    </nav>
</div>