<%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= form.text_field 'Nombre', class: 'mdl-textfield__input' %>
    <%= form.label :name, class: 'mdl-textfield__label' %>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= form.number_field 'Telefono', class: 'mdl-textfield__input' %>
    <%= form.label :phone, class: 'mdl-textfield__label' %>
  </div>

  <div class="text-left container">
    <%= form.submit 'Guardar', class: 'mdl-button mdl-js-button mdl-button--raised' %>
  </div>
<% end %>
