<div class="row center-xs top-space">
	<div class="col-xs-12 col-sm-8 col-lg-8">
		<div class="box mdl-shadow--2dp white">
			<div class="big-padding text-left cover relative" style="background-image: url(<%= @company.cover.url(:medium)%>)">
				<div class="row">
					<div class="col-xs-6 col-sm-5 no-padding">
						<div class="box">
							<div class="image-container">
								<%=image_tag @company.logo.url%>
								<h1 class="big-font"><%= @company.name%></h1>
							</div>
						</div>
					</div>
					<div class="col-xs col-sm-1">
						
					</div>
					<div class="col-xs-5 col-sm-6">
						<div class="box text-justify">
							<p><%= @company.bio %></p>
							<p>
								Tel.
								<span><%=@company.phone%></span>
							</p>
							<%= link_to 'Ver Sucursales', stores_path(), class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored'%>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row center-xs top-space">
	<div class="col-xs-12 col-sm-8 col-lg-8">
		<div class="box white mdl-shadow--2dp">
			<h2 class="big-font">Productos</h2>
			<% @products.each do |product|%>
				<%= image_tag product.avatar.url(:medium) %>
				<p><%= product.name %></p>
				<p><%= product.price_sale %></p>
				<p><%= product.stock %></p>
			<% end %>
		</div>
	</div>
</div>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
