<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="form-group">
    <%= f.label 'correo electronico', class: 'bmd-label-floating'%>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password, class: 'bmd-label-floating' %>
    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Enviar", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
  </div>
<% end %>
