<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <div class="floating-label">
        <%= form.label 'Nombre del producto', class: 'bmd-label-floating'%>
        <%= form.text_field :name, class: 'form-control', id:'exampleInputEmail1', placeholder:'Escribe aqui' %>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
  </div>

  <div class="bmd-form-group">
    <%= form.label 'Nombre del producto', class: 'floating-label' %>
    <%= form.text_field :name, class: 'form-control floating-label' %>
    <span class="bmd-help">Escribe una descripcion del producto.</span>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label container">
    <%= form.label 'Descripción', class: 'mdl-textfield__label' %>
    <%= form.text_area :description, class: 'mdl-textfield__input' %>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label container">
    <%= form.label 'Precio de venta', class: 'mdl-textfield__label' %>
    <%= form.number_field :price_sale, class: 'mdl-textfield__input' %>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label container">
    <%= form.label 'Precio de compra', class: 'mdl-textfield__label' %>
    <%= form.number_field :price_cost, class: 'mdl-textfield__input' %>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label container">
    <%= form.label 'Precio de oferta (opcional)', class: 'mdl-textfield__label' %>
    <%= form.number_field :price_offer, class: 'mdl-textfield__input' %>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label container">
    <%= form.label 'Cantidad en Stock', class: 'mdl-textfield__label' %>
    <%= form.number_field :stock, class: 'mdl-textfield__input' %>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label container">
    <%= form.label 'Cantidad minima en stock', class: 'mdl-textfield__label' %>
    <%= form.number_field :min_stock, class: 'mdl-textfield__input' %>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label container">
    <%= form.label 'Imagen de producto', class: 'mdl-textfield__label' %>
    <%= form.file_field :avatar, class: 'mdl-textfield__input' %>
  </div>

  <div class="field">
    <%= form.label :brand_id %>
    <%= form.collection_select :brand_id, @brand,:id,:name, include_blank: false %>
  </div>

  <div class="field">
    <%= form.label :unit_id %>
    <%= form.collection_select :unit_id, @unit,:id,:title, include_blank: false %>
  </div>

  <div class="field">
    <%= form.label :sub_category_id %>
    <%= form.collection_select :sub_category_id, @sub_category,:id,:name, include_blank: false %>
  </div>

  <div class="field">
    <%= form.label :provider_id %>
    <%= form.collection_select :provider_id, @provider,:id,:name, include_blank: false %>
  </div>

  <div class="text-left container">
    <%= form.submit 'Guardar', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
  </div>
<% end %>
