<div class="row center-xs middle-xs full-height">
  <div class="col-lg-8 col-xs-12">
    <div class="box">
      <div class="top-space white mdl-shadow--2dp absolute center-xs">
        <h1 class="big-font pacifico-font">Productos</h1>
        <div class="row center-xs">
          <div class="col-xs-12 col-md-12">
            <div class="box center-xs">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <table class="full-width no-border center-xs mdl-data-table mdl-js-data-table top-space">
                <thead>
                  <tr>
                    <th class="mdl-data-table__cell--non-numerical">Nombre</th>
                    <th class="mdl-data-table__cell--non-numerical">Precio de venta</th>
                    <th class="mdl-data-table__cell--non-numerical">Precio de compra</th>
                    <th class="mdl-data-table__cell--non-numerical">Cantidad en stock</th>
                    <th class="mdl-data-table__cell--non-numerical">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <% @products.each do |product| %>
                    <tr>
                      <td><%= product.name %></td>
                      <td><%= product.price_sale %></td>
                      <td><%= product.price_cost %></td>
                      <td><%= product.stock %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
</div>
<div class="btn-floating">
  <%= button_to new_product_url(), method: :get, class: "mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-js-ripple-effect" do %>
    <i class="material-icons">add</i>
  <% end %>
</div>


