<div class="row center-xs">
  <div class="col-lg-8 white mdl-shadow--2dp">
    <div class="box text-center">
      <h1>Productos</h1>
    </div>
  </div>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp top-space">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numerical">Nombre</th>
            <th class="mdl-data-table__cell--non-numerical">Precio de venta</th>
            <th class="mdl-data-table__cell--non-numerical">Precio de compra</th>
            <th class="mdl-data-table__cell--non-numerical">Cantidad en stock</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.name %></td>
              <td><%= product.price_sale %></td>
              <td><%= product.price_cost %></td>
              <td><%= product.stock %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
</div>
<div class="btn-floating">
  <%= button_to new_product_url(), method: :get, class: "mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-js-ripple-effect" do %>
    <i class="material-icons">add</i>
  <% end %>
</div>


