<div class="row center-xs top-space">
	<div class="col-xs-12 col-sm-8">
		<div class="box mdl-shadow--2dp white">
			<div class="row">
				<div class="col-xs-6 col-sm-5 no-padding">
					<div class="box">
						<div class="image-container">
							<%=image_tag @product.avatar.url%>
						</div>
					</div>
				</div>
				<div class="col-xs col-sm-1">
					
				</div>
				<div class="col-xs-5 col-sm-6">
					<div class="box text-justify">
						<h1 class="big-font"><%= @product.name %></h1>
						<p class="big-font bold-font">Q.<%= @product.price_sale %></p>
						<h2 class="medium-font"><%=link_to @product.company.name, @product.company %></h2>
						<p></p>
						<%=link_to 'Pedir información', root_path(), class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored'%>
					</div>
				</div>
				<div class="row center-xs">
					<div class="col-xs-10">
						<div class="box">
							<p class="top-space text-justify"><%= @product.description %></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="galeria">
	<div id="galeria_base">
		<%= image_tag @product.avatar.url, id:'imgMostrar'%>
	</div>
	<div id="galeria_miniaturas">
		<% @product.attachments.each do |attachment| %>
			<%= image_tag attachment.archivo.url, class: 'miniatura', onclick:"document.getElementById('imgMostrar').src='#{attachment.archivo.url}'"%>
		<% end %>
	</div>
</div>

