<div class="row center-xs">
	<div class="col-xs-12 col-sm-8">
		<div class="box mdl-shadow--2dp white">
			<div class="col-xs-6 col-md-5 no-padding">
				
			</div>
			<div class="col-xs-5 col-md-6">
				
			</div>
		</div>
	</div>
</div>


<h1>Vista de cliente</h1>
<p><%= @product.name %></p>
<p><%= @product.price_sale %></p>
<p><%= @product.description %></p>
<div class="image-container">
	<%=image_tag @product.avatar.url%>
</div>
<p><%=link_to @product.company.name, @product.company %></p>
