<div class="row center-xs">
	<div class="col-xs-12 col-sm-8">
		<div class="box mdl-shadow--2dp white">
			<div class="col-xs-6 col-sm-3 no-padding">
				<div class="image-container">
					<%=image_tag @product.avatar.url%>
				</div>
			</div>
			<div class="col-xs-5 col-sm-9">
				<p><%= @product.name %></p>
				<p><%= @product.price_sale %></p>
				<p><%=link_to @product.company.name, @product.company %></p>
			</div>
			<div class="row center-xs">
				<div class="col-xs-10">
					<div class="box">
						<p><%= @product.description %></p>
					</div>
				</div>
		</div>
		</div>
	</div>
</div>

