<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price sale:</strong>
  <%= @product.price_sale %>
</p>

<p>
  <strong>Price cost:</strong>
  <%= @product.price_cost %>
</p>

<p>
  <strong>Price offer:</strong>
  <%= @product.price_offer %>
</p>

<p>
  <strong>State:</strong>
  <%= @product.state %>
</p>

<p>
  <strong>Offer:</strong>
  <%= @product.offer %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong>Min stock:</strong>
  <%= @product.min_stock %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @product.unit %>
</p>

<p>
  <strong>Bar code:</strong>
  <%= @product.bar_code %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @product.serial_number %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @product.brand %>
</p>

<p>
  <strong>Sub category:</strong>
  <%= @product.sub_category %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @product.provider %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
