<!DOCTYPE html>
<html>
  <head>
    <title>Inventarios</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-pink.min.css" />
	  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css">
	  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="mdl-layout mdl-js-layout">
      <% if user_signed_in? %>
        <%= render 'partials/nav' %>
      <% end %>
      <p style="<%= 'display:none;' if notice.nil? && alert.nil? %>">
        <%= notice %>
        <%= alert  %>
      </p>
      <main class="mdl-layout__content full-height">
        <div class="page-content full-height">
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
